.container{
    width: 970px;
    height: 620px;
    background-color: rgb(10, 10, 95);
    margin: 0 auto;
    padding: 15px;
    
}
#header{
    width: 970px;
    height: 100px;
    background-color: crimson;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 30px;
}
.inheader{
    width: 500px;
    height: 33px;
    padding-left: 15px;
    color: white;
}
li {
    text-indent: -15px;
    color: white;
    font-size: 13px;
}
span{
    margin-left: 15px;
    margin-top: 15px;
    color: slateblue;
}

a{
    color: turquoise;
    margin-left: 15px;
    
}

.leftpane{
    width: 240px;
    height: 240px;
    background-color: darkcyan;
    border-radius: 10px;
    display: inline-block;
    margin-top: 1px;
    padding-top: 10px;
}
.rightpane{
    width: 680px;
    height: 410px;
    background-color:rgb(1, 1, 29);
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    border-radius: 10px;
    padding: 15px;
}
h3{
    color: white;
}
p{
    color: white;
    font-size: 13px;
}

.bottompane{
    width: 970px;
    height: 50px;
    background-color: grey;
    border-radius: 10px;
    margin-top: 15px;

}